// Certificate overrides for the dark theme

.certificate-card {
  &.mode-audit {
    border-color: $audit-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/honor.png')
    }
  }

  &.mode-honor {
    border-color: $honor-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/verified.png');
    }
  }

  &.mode-verified {
    border-color: $verified-mode-color;

    .card-logo {
      background-image: url('#{$static-path}/images/certificates/verified.png');
    }
  }

  &.mode-professional {
    border-color: $professional-certificate-color;

    .card-logo {
       background-image: url('#{$static-path}/images/certificates/professional.png');
    }
  }
}
