/////////////////// Footer
.wrapper-footer {
 border-top: 4px solid $primary;
  padding: 25px 40px;
  background-color: $primary;
  color: $inverse;

  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;
      }
      p {
          text-align: right;
      }
  }
}
.wrapper-footer footer#footer-openedx a {
 color: $inverse;
}
 .wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: $inverse;
   font-weight: 600;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin: 0px 0 20px 0;
}
.wrapper-footer footer#footer-openedx .nav-legal {
    text-align: left;
    font-size: 1.4em;
}
.wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child)::before {
  color: $primary;
}
